/* [Performers tab] Show a larger image in performer's page for desktop */
.performer-image-container{
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* Changing .col-md-8 settings also affects studios and tags display. 50% should be good enough. */
  .col-md-8 {
    flex: 0 0 50%;
    max-width: 50%;
  }