/* [Global changes] Change the order of navigation bar buttons */

nav .navbar-nav:first-child {
    display: flex;
    flex-direction: row;
  }
  div.nav-link[data-rb-event-key="/tags"] {
    order: -2;
  }
  div.nav-link[data-rb-event-key="/movies"] {
    order: -1;
  }
  div.nav-link[data-rb-event-key="/scenes"] {
    order: 1;
  }